* {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 10vh 0;
}

#profile-img {
    text-align: center;
}

img {
    width: 30%;
    border-radius: 75%;
}

h1 {
    text-align: center;
    padding: 2vh;
    color: lightgrey;
    letter-spacing: 4pt;
}

#links {
    align-items: center;
    width: 50%;
    margin: 0 auto
}

button {
    text-align: center;
    width: 50vw;
    margin: 1vh;
    padding: 2vh;
    border: 3px solid;
    color: lightgrey;
    background-color: transparent;
    font-size: 16pt;
    color: lightgrey;
    transition: ease 1s;
}

button:hover {
    background-color: lightgrey;
    color: white;
}